<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SciChartExamlpeOne.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SciChartExamlpeOne.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <SciChartExamlpeOne.Properties.Settings>
            <setting name="SAMPLERATE" serializeAs="String">
                <value>42000</value>
            </setting>
            <setting name="HWGAIN" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ADCREF" serializeAs="String">
                <value>3.3</value>
            </setting>
            <setting name="VERSIONNUMBER" serializeAs="String">
                <value>2.1.10 build 10/13/2020</value>
            </setting>
            <setting name="FIFOENABLE" serializeAs="String">
                <value>True</value>
            </setting>
        </SciChartExamlpeOne.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SciChartExamlpeOne.Properties.Settings>
            <setting name="HIGHCUTINDEX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LOWCUTINDEX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RREFRESHFPS" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="TIMEDIV" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="VOLTDIV" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="SWGAIN" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ADCBITNUM" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="SWEEPGRAPH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="COMPORTNAME" serializeAs="String">
                <value />
            </setting>
            <setting name="COMPORTBAUD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SOUNDLATENCY" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="HWVERSION" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="N14SERVERIP" serializeAs="String">
                <value>127.0.0.100</value>
            </setting>
            <setting name="N14SERVERPORT" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="N20SERVERIP" serializeAs="String">
                <value>127.0.0.200</value>
            </setting>
            <setting name="N20SERVERPORT" serializeAs="String">
                <value>2000</value>
            </setting>
        </SciChartExamlpeOne.Properties.Settings>
    </userSettings>
</configuration>